/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html {
    min-height: 100%;
    margin: 0;
  }

  body {
    min-height: 100%;
    margin: 0;
    background-color: #eee;
  }


  .full-width {
    width: 100%;
  }
